@if(control?.errors && control?.touched){
<div
  class="bg-red-100 border my-3 border-red-400 text-red-700 px-4 py-3 rounded relative"
>
  <ul class="list-none pl-5">
    @if (control?.getError('required')) {
    <li>Input is required</li>
    } @if (control?.getError('minlength')) {
    <li>Name must be at least 2 characters long</li>
    } @if (control?.getError('maxlength')) {
    <li>Name must not exceed 20 characters</li>
    }@if (control?.getError('email')) {
    <li>Pleas enter a valid email</li>
    }@if (control?.getError('pattern')) {
    <li>
      Password must be 8+ characters with uppercase, lowercase, number, and
      special character
    </li>
    }
  </ul>
</div>
}
