<section>
  <div class="max-w-md mx-auto my-25 border border-gray-300 p-5 rounded-2xl">
    <h1 class="font-bold mb-5 text-2xl">Forgot Password</h1>
    @if (step === 1) {
    <form [formGroup]="verifyEmail" (ngSubmit)="formStep1()">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900"
        >Your email</label
      >
      <input
        formControlName="email"
        type="email"
        class="bg-gray-50 border mb-5 border-main text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Type your email..."
      />
      <error-message [control]="verifyEmail.get('email')"></error-message>
      <button
        class="bg-main hover:bg-main/80 transition-all duration-300 rounded text-white px-5 py-2 cursor-pointer"
      >
        Verify Email
      </button>
    </form>
    }@else if (step === 2) {
    <form [formGroup]="verifycode" (ngSubmit)="formStep2()">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900"
        >Your code</label
      >
      <input
        formControlName="resetCode"
        type="text"
        class="bg-gray-50 border mb-5 border-main text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Type your code..."
      />
      <error-message [control]="verifycode.get('resetCode')"></error-message>
      <button
        class="bg-main hover:bg-main/80 transition-all duration-300 rounded text-white px-5 py-2 cursor-pointer"
      >
        Verify Code
      </button>
    </form>
    }@else if (step === 3) {
    <form [formGroup]="resetPassword" (ngSubmit)="formStep3()">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900"
        >Your email</label
      >
      <input
        formControlName="email"
        type="email"
        class="bg-gray-50 border border-main text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Type your email..."
      />
      <error-message [control]="resetPassword.get('email')"></error-message>
      <div class="mb-5 relative">
        <label
          for="password"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Your password</label
        >
        <input
          formControlName="newPassword"
          [type]="isShowPassword ? 'password' : 'text'"
          class="bg-gray-50 border border-main text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Type your password..."
        />
        <span (click)="showPassword()" class="absolute top-9.5 right-2"
          ><i
            [class]="
              isShowPassword ? 'fa-regular fa-eye' : 'fa-regular fa-eye-slash'
            "
            class="text-gray-800 text-sm"
          ></i
        ></span>
      </div>
      <error-message
        [control]="resetPassword.get('newPassword')"
      ></error-message>
      <button
        class="bg-main hover:bg-main/80 transition-all duration-300 rounded text-white px-5 py-2 cursor-pointer"
      >
        Reset Password
      </button>
    </form>
    }
  </div>
</section>
